<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/parsingVowelsCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/parsingVowelsScript.js"></script>
</head>
<body>
<img id="picture_background" src="images/sky_3.jpg" alt="альтернативный текст">

<div class="divEnter">
    <div class="titdiv">
        <span class="headline">sky vowels</span>
    </div>
    <div class="textarea">
        <span class="comit">введи слово и нажми разобрать</span>
        <input type="text" id="line" >
        <input id="button" type="submit" value="разобрать">
    </div>
</div>

<div class="divChoice">
    <div class="selectEmphasis">
        <span class="comit">укажи ударение</span><br>
    </div>
</div>

<div class="divResult">
    <div class="result">
        <span class="comit back">< вернуться назад </span><br>
    </div>
</div>
</body>
</html>