<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/parsingVowelsCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/parsingVowelsScript.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>
<img id="picture_background" src="images/sky_3.jpg" alt="альтернативный текст">

<div class="divEnter">
    <div class="titdiv">
        <h1 class="display-1 headline">sky vowels</h1>
    </div>


    <div class="textarea">

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="line" placeholder="введи слово и нажми разобрать">
            </div>
            <button id="button" type="button" class="btn btn-outline-dark">разобрать</button>
        </div>

    </div>
</div>

    <div class="divChoice">
        <div class="selectEmphasis">
            <h1 class="display-4" id="pointer" data = "укажи ударение" ></h1><br>
        </div>
    </div>

    <div class="divResult">
        <div class="result">
            <button type="button" class="btn btn-outline-dark comit back">вернуться назад</button><br>
        </div>
    </div>
</body>
</html>