<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" type="text/css" href="css/parsingVowelsCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/parsingVowelsScript.js"></script>
</head>
<body>
	<div class="titdiv">
		<span class="headline">Parsing Vowels</span>
	</div>
    <span class="comit">1. введите слово</span>
	<div class="textarea">
	    <input type="text" id="line" ></input><input id="button" type="submit" value="разобрать">
	</div>

    <span class="comit">2. укажите ударение</span>
    <div class="selectEmphasis">
    </div>

    <span class="comit">3. результат</span>
	<div class="result">
    </div>
	
</body>
</html>